@import "tailwindcss";

:root {
  --bg-dark: #f8fafc;
  --card-bg: #ffffff;

  --accent-green: #059669;
  --accent-purple: #6366f1;

  --text-primary: #030712;
  --text-muted: #64748b;

  --border-color: #e2e8f0;
}

.dark {
  --bg-dark: #030712;
  --card-bg: #111827;

  --accent-green: #34d399;
  --accent-purple: #a5b4fc;

  --text-primary: #ffffff;
  --text-muted: #9ca3af;

  --border-color: #1f2937;
}

@theme {
  /* Colors */
  --color-background: var(--bg-dark);
  --color-card: var(--card-bg);

  --color-accent-green: var(--accent-green);
  --color-accent-purple: var(--accent-purple);

  --color-text-primary: var(--text-primary);
  --color-text-muted: var(--text-muted);

  --color-border: var(--border-color);

  /* GOOGLE FONTS */
  --font-roboto: var(--font-family-roboto);
  --font-headline-sans: var(--font-family-headline-sans);
  --font-headline-mozi: var(--font-family-headline-mozi);
  --font-headline-fin: var(--font-family-headline-fin);

  /* LOCAL FONTS */
  --font-qurova: var(--font-family-qurova);
  --font-anton: var(--font-family-anton);
  --font-moldie: var(--font-family-moldie);
  --font-transcity: var(--font-family-transcity);
}

body {
  background: var(--bg-dark);
  color: var(--text-primary);
  font-family: var(--font-family-roboto), sans-serif;
}
